*{
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 35px;
    cursor: pointer;
    
}


#emoji{
  background-color: rgb(185, 126, 126);
  width: 50px;
   cursor: pointer;
   border-radius: 10px;
}

